<ion-content class="ion-padding home-background">
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>
  <div class="welcome-message">
    ¡Bienvenido somos la mejor opción para tu bienestar!<br />
    <strong>Elige para comenzar.</strong>
  </div>

  <!-- Opciones -->
  <div class="option-container">
    <div class="option-card" (click)="goToAudio1()">
      <img src="assets/prepara.jpg" alt="Opción 1" class="option-img" />
    </div>
    <!-- Falta poner link de audio cierra tu dia -->
    <div class="option-card" (click)="goToAudio2()">
      <img src="assets/cierra.jpg" alt="Opción 2" class="option-img" />
    </div>
    <div class="option-card">
      <img src="assets/portada2.jpg" alt="Opción 2" class="option-img" />
    </div>
    <!-- Revisartamaño de imagen para propaganda
    <div>
      <img src="assets/propaganda.jpg" alt="Publicidad"class="banner-img" />
    </div> -->
  </div>

  <!-- Leyenda -->
  <p class="legend">
    ¿Quiéres sentirte mejor? <br><a routerLink="/login" class="login-link">INICIA SESIÓN</a> <br>o <br> <a
      class="login-link" routerLink="/register">¡REGÍSTRATE GRATIS!</a>
  </p>
</ion-content>