<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="irAIinicio()" class="custom-back-button">
        <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reproductor de Entrenamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="false">
  <div *ngIf="loading" class="loading">
    <ion-spinner name="crescent"></ion-spinner>
    <p>⏳ Cargando datos del audio...</p>
  </div>

  <div *ngIf="!loading && currentAudio">
    <ion-card>
      <img [src]="currentAudio.img" alt="Portada del audio" />

      <ion-card-header>
        <ion-card-title>{{ currentAudio.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- El audio se reproduce con control desde el componente -->
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="playPauseAudio()">
              {{ audioElement.paused ? 'Reproducir' : 'Pausar' }}
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-button expand="block" (click)="playNext()" [disabled]="currentIndex === audioList.length - 1">
          Siguiente Audio
        </ion-button>
        <ion-button expand="block" (click)="playPrevious()" [disabled]="currentIndex === 0">
          Audio Anterior
        </ion-button>
        <ion-button expand="block" style="--background: #707e67; --color: #ffffff;" (click)="irAIinicio()">
        Regresar al inicio
      </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!loading && !currentAudio">
    <p>No se encontró audio para reproducir.</p>
  </div>
</ion-content>