<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Continuar sin iniciar"
        icon="chevron-back-outline"
        defaultHref="/contfree"
        class="custom-back-button">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" [fullscreen]="true" scroll="true">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo"/>
  </div>

  <div class="login-section">
    <div class="heading">
      <h1>Inicia sesión para continuar</h1>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <div class="form-input">
        <ion-item fill="solid">
          <ion-label position="floating">Correo electrónico de Aliiivio</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-item fill="solid">
          <ion-label position="floating">Contraseña de Aliiivio</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password" required></ion-input>
          <ion-icon
            slot="end"
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePasswordVisibility()"
            class="toggle-password">
          </ion-icon>
        </ion-item>
      </div>

      <div class="action-buttons">
        <p [routerLink]="['/forgot-password']">¿Olvidaste tu contraseña?</p>

        <ion-button expand="block" type="submit" class="login-button" [disabled]="loginForm.invalid">
          Ingresar
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>

        <ion-button expand="block" class="signup-button" [routerLink]="['/register']">
          Registrar
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
