<ion-content [fullscreen]="true" scroll-y="false" class="login-content">
  <div class="login-section">
    <div class="heading">
      <h1>Bienvenido a Aliiivio</h1>
      <p>Inicia sesión para continuar</p>
    </div>

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()" (keypress.enter)="login()">
      <div class="form-input">
        <ion-item fill="solid">
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
      </div>

      <div class="form-input">
        <ion-item fill="solid">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            required
          ></ion-input>
          <ion-icon
            slot="end"
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePasswordVisibility()"
            class="toggle-password"
          ></ion-icon>
        </ion-item>
      </div>

      <div class="action-buttons">
        <p [routerLink]="['/forgot-password']" class="ion-text-end">¿Olvidaste tu contraseña?</p>

        <ion-button expand="block" mode="ios" type="submit" class="submit login-button" [disabled]="loginForm.invalid">
          Ingresar
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>

        <ion-button class="signup-button" [routerLink]="['/register']" expand="block" mode="ios">
          Registrar
          <ion-icon slot="end" name="person-add-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
