ion-content.login-content {
  --background: #5c0911;
  font-size: 16px;
}

.logo-container {
  margin-top: 1rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

body.keyboard-open .logo-container {
  display: none;
}

.logo {
  width: 10rem;
  height: auto;
  filter: drop-shadow(0 0 14px rgba(211, 192, 152, 0.55));
}

.login-section {
  width: 100%;
  max-width: 500px;
  background: #efefef;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  padding: 24px 16px 40px;
  box-shadow: 0 -4px 20px rgba(211, 192, 152, 0.3);

  // NUEVO: posicionamiento flexible
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 65vh;

  @media (min-height: 700px) {
    min-height: 72vh;
  }

  @media (min-height: 800px) {
    min-height: 78vh;
  }
  @media (max-height: 650px) {
  .logo {
    width: 7rem;
  }

  .login-section {
    min-height: 85vh;
  }
}
}

.heading h1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #5c0911;
  text-align: center;
  margin-bottom: 1rem;
}

.form-input {
  margin-bottom: 16px;

  ion-item::part(native) {
    font-size: 16px;
    border-radius: 14px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  ion-input {
    font-size: 16px;
    --padding-start: 16px;
    --background: transparent;
    color: #707e67;
  }
}

.action-buttons {
  text-align: center;

  p {
    margin-top: 10px;
    font-size: 16px;
    color: #707e67;
    text-align: right;
    cursor: pointer;
  }

  .login-button,
  .signup-button {
    --background: #707e67;
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
  }
}

.toggle-password {
  font-size: 1.4rem;
  color: #707e67;
  cursor: pointer;
}

.custom-back-button {
  color: #d3c098;
  font-weight: 500;

  ion-icon {
    font-size: 16px;
  }
}
