ion-content.login-content {
  --background: #efefef url("../../assets/fondo1.jpg") no-repeat center center / cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  position: relative;
}

.login-section {
  width: 100%;
  max-width: 500px;
  background: #efefef;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
  padding: 10px 16px 20px; // Aumenta espacio arriba y abajo
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  // Aumentamos la altura mínima
  min-height: 70%;
}

.heading {
  text-align: center;
  margin-top: 10px;

  h1 {
    font-size: 1.6rem;
    font-weight: bolder;
  }

  p {
    margin-top: 10px;
    font-size: 1rem;
    color: #7b7b7b;
  }
}

.login-form {
  margin-top: 20px;

  .form-input {
    margin-bottom: 16px;

    ion-item::part(native) {
      border-radius: 14px;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    ion-input {
      font-size: 0.9rem;
      --padding-start: 16px;
      --background: transparent;
      color: #7b7b7b;
    }
  }
}

.action-buttons {
  text-align: center;

  .login-button,
  .signup-button {
    --background: #707e67;
    width: 100%;
    font-weight: bold;
    margin-top: 20px;
  }

  p {
    margin-top: 15px;
    font-size: 1rem;
    color: #7b7b7b;
  }
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem;
  color: #7b7b7b;
  z-index: 10;
  cursor: pointer;
}
