<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" icon="chevron-back-outline" defaultHref="/login" class="custom-back-button">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false" class="ion-padding recuperar-page">
    <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>
  <div class="recuperar-section">
    <div class="heading">
      <h1>Recuperar Contraseña</h1>
      <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="recuperar()" class="recuperar-form">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </div>

      <div class="action-buttons">
        <ion-button class="recuperar-button" expand="block" type="submit" [disabled]="form.invalid">
          Enviar correo
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>