<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="recuperar()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      Enviar correo
    </ion-button>
  </form>
</ion-content>
