ion-content {
    --background: #efefef url("../../../assets/fondo1.jpg") no-repeat center center / cover;
  }
  
  .recuperar-section {
    height: 65vh;
    width: 100%;
    max-width: 500px;
    background: #efefef;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    padding: 20px;
  
    .heading {
      margin-top: 20px;
      text-align: center;
  
      h1 {
        font-size: 1.6rem;
        font-weight: bold;
        color: #5c0911;
      }
  
      p {
        margin-top: 10px;
        font-size: 0.95rem;
        color: #707e67;
      }
    }
  
    .recuperar-form {
      margin-top: 30px;
  
      .form-input {
        position: relative;
        margin-bottom: 20px;
  
        ion-icon {
          position: absolute;
          top: 12px;
          left: 12px;
          z-index: 2;
          font-size: 1.6rem;
          color: #707e67;
        }
  
        ion-label {
          position: absolute;
          margin-left: 35px;
          font-weight: bold;
          font-size: 0.9rem;
          top: 3px;
          color: #5c0911;
          z-index: 1;
        }
  
        ion-input {
          font-size: 0.9rem;
          --padding-start: 36px;
          --padding-top: 36px;
          color: #707e67;
          padding-left: 36px; /* Ajustamos el padding para que no se solape con el ícono */
        }
      }
    }
  
    .action-buttons {
      text-align: center;
  
      .recuperar-button {
        --background: #707e67;
        --color: #fff;
        font-weight: bold;
        width: 100%;
        --border-radius: 12px;
      }
    }
  }
  